services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: youscan
      POSTGRES_USER: youscan_admin
      POSTGRES_PASSWORD: youscan_pass
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/sql:ro
  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@youscan.example
      PGADMIN_DEFAULT_PASSWORD: admin_pass
    ports:
      - "5050:80"
    depends_on:
      - db
  metabase:
    image: metabase/metabase:latest
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - metabase_data:/metabase-data
volumes:
  pgdata:
  metabase_data:
